a.holder(href=value.href)
  img(
    onerror="this.onerror=null;this.src='default.png';" 
    src=value.src 
    alt=value.alt
    class="img-thumbnail"
  )
  .artist
    value.artist
  .title
    value.title
  .price
    value.price

